<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/boildplate.css" />
    <link rel="stylesheet" href="../css/navbar.css" />
    <link rel="stylesheet" href="../css/scrollbar.css" />
    <link rel="stylesheet" href="../css/profile.css" />
    <!-- Add Toastify CSS -->
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css"
    />
    <title>Profile - Notes App</title>
  </head>

  <body>
    <main>
      <div class="navbar-container"></div>

      <div class="profile-page">
        <div class="profile-header">
          <h1>Profile</h1>
        </div>

        <div class="profile-content">
          <!-- Additional Profile Details -->
          <div class="profile-details">
            <h2>Account Details</h2>
            <h4 id="userNotExist"></h4>
            <div id="avatarInitial"></div>
            <ul>
              <li>
                <strong>Name:</strong> <span id="detailName">Loading...</span>
              </li>
              <li>
                <strong>Email:</strong> <span id="detailEmail">Loading...</span>
              </li>
              <li>
                <strong>Joined:</strong>
                <span id="AccCreatedAt">Loading...</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script src="../scripts/addnav.js" type="module"></script>
    <script src="../scripts/navbar.js" type="module"></script>
    <script src="../scripts/profile.js"></script>
  </body>
</html>
